<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">

</head>

<body>
    <a href="#main" class="skip-content">Skip To Content</a>
    <header class="header">
        <div class="header_inner">
            <h1 class="header_title">
                Today's Resto
            </h1>
            <a id="menu" class="header_menu">☰</a>
            <nav id="drawer" class="nav">
                <ul class="nav_list">
                    <li class="nav_item"><a href="/">Home</a></li>
                    <li class="nav_item"><a href="#/favorites">Favorites</a></li>
                    <li class="nav_item"><a href="https://linkedin.com/in/putribenedicta">About Us</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="hero" id="hero">
        <div class="hero_inner">
            <h1 class="hero_title">Where do you wanna eat today?</h1>
            <p class="hero_tagline">Find your favorite restaurant here!</p>
        </div>
    </div>

    <main id="main">
        <section class="resto-card" name="restaurant list" id="mainContent">
            </div>
            <div class="explore">
                <h1 class="explore_label">Explore Restaurant</h1>
            </div>
        </section>
    </main>
    <footer>
        <p>Submission 2 Aplikasi Katalog Restoran, Dicoding Academy</p>
        <p>copyright &copy; 2021</p>
    </footer>
</body>
</html>